@media (min-width:960px) {
	.container-medium {
		margin-left: auto;
		margin-right: auto;
		width:940px;
	}

	.col--1-medium,
	.col--2-medium,
	.col--3-medium,
	.col--4-medium,
	.col--5-medium,
	.col--6-medium,
	.col--7-medium,
	.col--8-medium,
	.col--9-medium,
	.col--10-medium,
	.col--11-medium,
	.col--12-medium {
		position: relative;
		float: left;
		padding-left: 1em;
		padding-right: 1em;
	}

	.col--1-medium  { width: 8.3333333333333%; }
	.col--2-medium  { width: 16.666666666667%; }
	.col--3-medium  { width: 25%; }
	.col--4-medium  { width: 33.333333333333%; }
	.col--5-medium  { width: 41.666666666667%; }
	.col--6-medium  { width: 50%; }
	.col--7-medium  { width: 58.333333333333%; }
	.col--8-medium  { width: 66.666666666667%; }
	.col--9-medium  { width: 75%; }
	.col--10-medium { width: 83.333333333333%; }
	.col--11-medium { width: 91.666666666667%; }
	.col--12-medium { width: 100%; }

	.col-push--1-medium  { left: 8.3333333333333%; }
	.col-push--2-medium  { left: 16.666666666667%; }
	.col-push--3-medium  { left: 25%; }
	.col-push--4-medium  { left: 33.333333333333%; }
	.col-push--5-medium  { left: 41.666666666667%; }
	.col-push--6-medium  { left: 50%; }
	.col-push--7-medium  { left: 58.333333333333%; }
	.col-push--8-medium  { left: 66.666666666667%; }
	.col-push--9-medium  { left: 75%; }
	.col-push--10-medium { left: 83.333333333333%; }
	.col-push--11-medium { left: 91.666666666667%; }

	.col-pull--1-medium  { right: 8.3333333333333%; }
	.col-pull--2-medium  { right: 16.666666666667%; }
	.col-pull--3-medium  { right: 25%; }
	.col-pull--4-medium  { right: 33.333333333333%; }
	.col-pull--5-medium  { right: 41.666666666667%; }
	.col-pull--6-medium  { right: 50%; }
	.col-pull--7-medium  { right: 58.333333333333%; }
	.col-pull--8-medium  { right: 66.666666666667%; }
	.col-pull--9-medium  { right: 75%; }
	.col-pull--10-medium { right: 83.333333333333%; }
	.col-pull--11-medium { right: 91.666666666667%; }

	.col-prefix--1-medium  { margin-left: 8.3333333333333%; }
	.col-prefix--2-medium  { margin-left: 16.666666666667%; }
	.col-prefix--3-medium  { margin-left: 25%; }
	.col-prefix--4-medium  { margin-left: 33.333333333333%; }
	.col-prefix--5-medium  { margin-left: 41.666666666667%; }
	.col-prefix--6-medium  { margin-left: 50%; }
	.col-prefix--7-medium  { margin-left: 58.333333333333%; }
	.col-prefix--8-medium  { margin-left: 66.666666666667%; }
	.col-prefix--9-medium  { margin-left: 75%; }
	.col-prefix--10-medium { margin-left: 83.333333333333%; }
	.col-prefix--11-medium { margin-left: 91.666666666667%; }

	.col-suffix--1-medium  { margin-right: 8.3333333333333%; }
	.col-suffix--2-medium  { margin-right: 16.666666666667%; }
	.col-suffix--3-medium  { margin-right: 25%; }
	.col-suffix--4-medium  { margin-right: 33.333333333333%; }
	.col-suffix--5-medium  { margin-right: 41.666666666667%; }
	.col-suffix--6-medium  { margin-right: 50%; }
	.col-suffix--7-medium  { margin-right: 58.333333333333%; }
	.col-suffix--8-medium  { margin-right: 66.666666666667%; }
	.col-suffix--9-medium  { margin-right: 75%; }
	.col-suffix--10-medium { margin-right: 83.333333333333%; }
	.col-suffix--11-medium { margin-right: 91.666666666667%; }
}