@media (min-width:1440px) {
	.container-large {
		margin-left: auto;
		margin-right: auto;
		width:1420px;
	}

	.col--1-large,
	.col--2-large,
	.col--3-large,
	.col--4-large,
	.col--5-large,
	.col--6-large,
	.col--7-large,
	.col--8-large,
	.col--9-large,
	.col--10-large,
	.col--11-large,
	.col--12-large {
		position: relative;
		float: left;
		padding-left: 1em;
		padding-right: 1em;
	}

	.col--1-large  { width: 8.3333333333333%; }
	.col--2-large  { width: 16.666666666667%; }
	.col--3-large  { width: 25%; }
	.col--4-large  { width: 33.333333333333%; }
	.col--5-large  { width: 41.666666666667%; }
	.col--6-large  { width: 50%; }
	.col--7-large  { width: 58.333333333333%; }
	.col--8-large  { width: 66.666666666667%; }
	.col--9-large  { width: 75%; }
	.col--10-large { width: 83.333333333333%; }
	.col--11-large { width: 91.666666666667%; }
	.col--12-large { width: 100%; }

	.col-push--1-large  { left: 8.3333333333333%; }
	.col-push--2-large  { left: 16.666666666667%; }
	.col-push--3-large  { left: 25%; }
	.col-push--4-large  { left: 33.333333333333%; }
	.col-push--5-large  { left: 41.666666666667%; }
	.col-push--6-large  { left: 50%; }
	.col-push--7-large  { left: 58.333333333333%; }
	.col-push--8-large  { left: 66.666666666667%; }
	.col-push--9-large  { left: 75%; }
	.col-push--10-large { left: 83.333333333333%; }
	.col-push--11-large { left: 91.666666666667%; }

	.col-pull--1-large  { right: 8.3333333333333%; }
	.col-pull--2-large  { right: 16.666666666667%; }
	.col-pull--3-large  { right: 25%; }
	.col-pull--4-large  { right: 33.333333333333%; }
	.col-pull--5-large  { right: 41.666666666667%; }
	.col-pull--6-large  { right: 50%; }
	.col-pull--7-large  { right: 58.333333333333%; }
	.col-pull--8-large  { right: 66.666666666667%; }
	.col-pull--9-large  { right: 75%; }
	.col-pull--10-large { right: 83.333333333333%; }
	.col-pull--11-large { right: 91.666666666667%; }

	.col-prefix--1-large  { margin-left: 8.3333333333333%; }
	.col-prefix--2-large  { margin-left: 16.666666666667%; }
	.col-prefix--3-large  { margin-left: 25%; }
	.col-prefix--4-large  { margin-left: 33.333333333333%; }
	.col-prefix--5-large  { margin-left: 41.666666666667%; }
	.col-prefix--6-large  { margin-left: 50%; }
	.col-prefix--7-large  { margin-left: 58.333333333333%; }
	.col-prefix--8-large  { margin-left: 66.666666666667%; }
	.col-prefix--9-large  { margin-left: 75%; }
	.col-prefix--10-large { margin-left: 83.333333333333%; }
	.col-prefix--11-large { margin-left: 91.666666666667%; }

	.col-suffix--1-large  { margin-right: 8.3333333333333%; }
	.col-suffix--2-large  { margin-right: 16.666666666667%; }
	.col-suffix--3-large  { margin-right: 25%; }
	.col-suffix--4-large  { margin-right: 33.333333333333%; }
	.col-suffix--5-large  { margin-right: 41.666666666667%; }
	.col-suffix--6-large  { margin-right: 50%; }
	.col-suffix--7-large  { margin-right: 58.333333333333%; }
	.col-suffix--8-large  { margin-right: 66.666666666667%; }
	.col-suffix--9-large  { margin-right: 75%; }
	.col-suffix--10-large { margin-right: 83.333333333333%; }
	.col-suffix--11-large { margin-right: 91.666666666667%; }
}