/*
 * Input
 *
 */

/* Text fields */
.input-field,
.input-select,
.input-check:before,
.input-radio:before {
	background-color: rgb(250, 250, 250);
	border: 1px solid rgb(200, 200, 200);
	border-radius: 0.2em;
}

.input-field,
.input-select {
	color: rgb(50, 50, 50);
	margin: 0.1em 0;
	padding: 0.1em 0.2em;
}

.input-fill { width: 100%; }

/* Placeholder text colour */
.input-field::input-placeholder { color: rgb(50, 50, 50); }
.input-field:-moz-input-placeholder { color: rgb(50, 50, 50); }
.input-field::-moz-input-placeholder { color: rgb(50, 50, 50); }
.input-field::-ms-input-placeholder { color: rgb(50, 50, 50); }
.input-field::-webkit-input-placeholder { color: rgb(50, 50, 50); }

/* Checkboxes and radio buttons */
.input-check:before,
.input-radio:before {
	content: '';
	display: inline-block;
	height: 13px;
	width: 13px;

	transition-property: border-color, border-width;
	transition-timing-function: linear;
	transition-duration: 0.1s;
}

.input-check:checked:before,
.input-radio:checked:before {
	border-color: rgb(50, 50, 50);
	border-width: 4px;
}

.input-radio:before { border-radius: 1em; }